@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fira Code', monospace;
  background-color: #1E1E1E;
  background-image: 
  linear-gradient(65deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
  linear-gradient(135deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
  linear-gradient(45deg, transparent 74px, rgba(255, 255, 255, 0.1) 75px, transparent 76px),
  linear-gradient(125deg, transparent 70px, rgba(255, 255, 255, 0.1) 75px, transparent 76px),
  linear-gradient(90deg, rgba(255, 255, 255, 0.08) 1px, transparent 1px), /* Líneas más finas */
  linear-gradient(30deg, rgba(255, 255, 255, 0.08) 1px, transparent 1px); /* Líneas más finas */
background-size: 120px 120px, 120px 120px, 100px 100px, 100px 100px, 200px 200px, 200px 200px;
background-blend-mode: overlay;
@apply bg-gray-900 text-gray-100;
}

a {
  color: #007ACC;
}

button {
  @apply bg-blue-700 text-white;
}

header, footer {
  @apply bg-gray-800 text-gray-100;
}

.skills-container {
  @apply bg-gray-800 text-gray-100 rounded-3xl shadow-lg;
}

.react-tooltip {
  @apply bg-gray-800 text-gray-100 p-2 rounded shadow-lg;
}

.menu-item {
  @apply text-gray-400 transition-colors duration-300;
}

.menu-item:hover {
  @apply text-white;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 768px) {
  .icon {
    width: 1rem;
    height: 1rem;
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.fixed {
  position: fixed;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.bg-black {
  background-color: black;
}

.bg-opacity-50 {
  background-opacity: 0.5;
}

.transition-opacity {
  transition: opacity 0.3s;
}

.duration-300 {
  transition-duration: 300ms;
}

.opacity-100 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.bg-white {
  background-color: white;
}

.p-6 {
  padding: 1.5rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.text-center {
  text-align: center;
}

.text-green-500 {
  color: #48bb78;
}

.text-red-500 {
  color: #f56565;
}

.max-w-sm {
  max-width: 24rem;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes popup {
  0% { transform: scale(0.9); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.animate-popup {
  animation: popup 0.3s ease-in-out;
}